Repository hmcts/ia-case-documents-api, pull requests merged in 2019-07, with the labels that each got.

#54 RIA-1514 hearing bundle order
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingBundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingBundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcherTest.java
Labels: ns:ia-case-documents-api-pr-54

#57 RIA-1154: send decision and reason
  build.gradle
  src/functionalTest/resources/documents/doc3.doc
  src/functionalTest/resources/scenarios/RIA-1152-&-1153- generate-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-1154-send-decisions-and-reasons.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/FileType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecision.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/DecisionAndReasonsCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/SendDecisionAndReasonsHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingBundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsCoverLetterService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsPdfService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/WordDocumentToPdfConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentDownloadClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/DecisionAndReasonsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/SendDecisionAndReasonsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingBundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsCoverLetterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/WordDocumentToPdfConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClientTest.java
  src/test/resources/draft-doc.doc
  src/test/resources/draft-doc.docx
Labels: ns:ia-case-documents-api-pr-57

#56 RIA-1022 appeal summary pdf changes + unit tests + functional test
  src/functionalTest/resources/documents/doc3.pdf
  src/functionalTest/resources/scenarios/RIA-1022-out-of-time-appeal-submission-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia-case-documents-api-pr-56

#59 RIA-1640 exclude tests + fix security vulnerabilities
  Jenkinsfile_CNP
  build.gradle
Labels: ns:ia-case-documents-api-pr-59

#63 RIA-1571 enable charts and adding admin user variables
  Jenkinsfile_CNP
Labels: ns:ia-case-documents-api-pr-63
