Repository hmcts/ia-case-documents-api, pull requests merged in 2019-11, with the labels that each got.

#120 Logging the response in full even when there is an error response.
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
Labels: ns:ia-case-documents-api-pr-120

#114 Disabling ASE except in Demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia-case-documents-api-pr-114

#87 fixing up project for AKS after migration complete
  Dockerfile
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.aat.template.yaml
  charts/ia-case-documents-api/values.preview.template.yaml
  charts/ia-case-documents-api/values.yaml
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:ia-case-documents-api-pr-87

#97 RIA-1000 New fields added to appeal submission
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia-case-documents-api-pr-97

#132 travis jdk
  .travis.yml
Labels: ns:ia-case-documents-api-pr-132

#133 Updating exception handling for stitching api
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentBundlingErrorResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentServiceResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentStitchingErrorResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLogger.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLoggerTest.java
Labels: ns:ia-case-documents-api-pr-133

#138 adding apiVersion and bumping chart
  Jenkinsfile_CNP
  charts/ia-case-documents-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document.json
  src/functionalTest/resources/scenarios/RIA-941-hearing-bundle.json
Labels: ns:ia-case-documents-api-pr-138

#137 RIA-1976 add new hearing centres
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-hearing-notice-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-hearing-notice-iac-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-hearing-notice-iac-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-edit-case-listing-hearing-notice-iac-north-shields.json
  src/functionalTest/resources/scenarios/RIA-1976-hearing-notice-document-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-hearing-notice-document-iac-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-hearing-notice-document-iac-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-hearing-notice-document-iac-north-shields.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeEditedTemplateTest.java
Labels: ns:ia-case-documents-api-pr-137
