Repository hmcts/ia-case-documents-api, pull requests merged in 2019-09, with the labels that each got.

#73 Ria 1380 add hearing centres
  build.gradle
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-hearing-notice-document-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-edit-case-listing-hearing-notice-document-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-hearing-notice-document-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-hearing-notice-document-newport-hearing-centre.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeEditedTemplate.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeEditedTemplateTest.java
Labels: ns:ia-case-documents-api-pr-73

#74 Ria 1654 admin edit case
  src/main/resources/application.yaml
Labels: ns:ia-case-documents-api-pr-74

#78 fix security vulnerabilities within jackson-databind
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCase.java
Labels: ns:ia-case-documents-api-pr-78

#75 zap ignore known alerts
  zap-known-issues.xml
Labels: ns:ia-case-documents-api-pr-75

#80 Upgrading java chart and docker base image.
  Dockerfile
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/requirements.yaml
Labels: ns:ia-case-documents-api-pr-80
