Repository hmcts/ia-case-documents-api, pull requests merged in 2019-08, with the labels that each got.

#61 RIA-362: editing a case listing
  src/functionalTest/resources/scenarios/RIA-362-edit-case-listing-hearing-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentHandlerTest.java
Labels: ns:ia-case-documents-api-pr-61

#65 RIA-1653 updating docker image
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia-case-documents-api-pr-65

#68 removing deprecated jenkins code
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
Labels: ns:ia-case-documents-api-pr-68

#69 Aks migration prep
  Dockerfile
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/requirements.yaml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentServiceResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
  web.config
Labels: ns:ia-case-documents-api-pr-69
