Repository hmcts/ia-case-documents-api, pull requests merged in 2019-10, with the labels that each got.

#81 security vulnerabilities fix
  Dockerfile
  build.gradle
  web.config
Labels: ns:ia-case-documents-api-pr-81

#84 Security vulnerabilities fix
  Dockerfile
  lib/applicationinsights-agent-2.3.1.jar
  lib/applicationinsights-agent-2.4.1.jar
Labels: ns:ia-case-documents-api-pr-84

#85 Swap to AKS on AAT only
  Jenkinsfile_CNP
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia-case-documents-api-pr-85

#79 RIA-1846 additional evidence bundle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGenerator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
Labels: ns:ia-case-documents-api-pr-79

#86 AKS go live
  Jenkinsfile_CNP
Labels: ns:ia-case-documents-api-pr-86

#89 Disable AKS go live
  Jenkinsfile_CNP
Labels: ns:ia-case-documents-api-pr-89

#90 add missing DocumentTag values
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia-case-documents-api-pr-90

#93 zap encoding for Python 2/3
  security.sh
Labels: ns:ia-case-documents-api-pr-93

#94 empty line to re-trigger full build
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
Labels: ns:ia-case-documents-api-pr-94

#99 change url for nightly build tests
  Jenkinsfile_nightly
Labels: ns:ia-case-documents-api-pr-99

#100 Nigthly build fix
  audit.json
  security.sh
  zap-known-issues.xml
Labels: ns:ia-case-documents-api-pr-100

#101 Add dependabot config
  .dependabot/config.yml
Labels: ns:ia-case-documents-api-pr-101

#102 false positives for zap-glue
  audit.json
  security.sh
Labels: ns:ia-case-documents-api-pr-102

#113 bump health starter
  build.gradle
Labels: ns:ia-case-documents-api-pr-113

#91 Handling if we get a Null stitched bundle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/IaCaseDocumentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/WiremockSpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/BundlingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/AsylumCaseFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/ClassCreatorForTests.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/IaApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/StubbedIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCase.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentBundlingErrorResponseException.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/ResponseErrorChecker.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/enties/em/Bundle.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/DecisionAndReasonsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/EndAppealNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/enties/em/BundleTest.java
Labels: ns:ia-case-documents-api-pr-91

#118 zap cleanup
  security.sh
  zap-known-issues.xml
Labels: ns:ia-case-documents-api-pr-118
