Repository hmcts/ia-case-documents-api, pull requests merged in 2020-09, with the labels that each got.

#282 suppress security vulnerability in Launch Darkly
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-282

#253 RIA-3412 pay and submit appeal
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-253

#286 fix second Sonar issue
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizor.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-286

#235 RIA-3170 edit listing template text fix for hearing notice
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-235

#287 RIA-3170 rollback to previous template
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-287

#245 RIA-2323: Adding new hearing centres
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/HearingDetailsFinder.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-245

#232 Ria 2010 add stateless
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-232

#294 sonar fix for non-compliant assert in unit test
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClientTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-294

#280 Ria 3434 pay offline by card pa
  src/functionalTest/resources/scenarios/RIA-3434-appeal-submission-document_after_pay_and_submit_failed_changed_to_pay_later.json
  src/functionalTest/resources/scenarios/RIA-3434-appeal-submission-document_after_pay_and_submit_failed_changed_to_pay_offline.json
  src/functionalTest/resources/scenarios/RIA-3434-appeal-submission-document_after_pay_and_submit_paid.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatusTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-280

#302 cleanup terraform
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/LivenessProbeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-302

#227 RIA-1689 tests refactoring + OpenId integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/IaCaseDocumentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/WiremockSpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/fixtures/UserDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/AsylumCaseFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/IaApiClient.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/CcdEventAuthorizorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/AuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/SystemUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/SystemUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-227

#288 RIA-3473 mark appeal as paid of appeal types EA/HU/PA
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatus.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-288
