Repository hmcts/ia-case-documents-api, pull requests merged in 2020-03, with the labels that each got.

#171 RIA-1280: prepare Decision and Reasons document by Judge
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1280-generate-decisions-and-reasons-judge.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-171

#169 RIA-2239 judge endAppeal
  src/functionalTest/resources/scenarios/RIA-2239-end-appeal-notice-document.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-169

#181 Ria 1939 judge upload decision
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1939-send-decisions-and-reasons-admin.json
  src/functionalTest/resources/scenarios/RIA-1939-send-decisions-and-reasons-judge.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-181

#164 RIA-2526 downstream services health checker
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/HealthCheckConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/DocmosisHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/DownStreamHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/ServiceHealthIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/DocmosisHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/DownStreamHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/ServiceHealthIndicatorTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-164

#189 Added CCD_URL env value
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-189

#174 RIA-1906 health smoke test
  src/smokeTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/SmokeTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-174

#186 RIA-2646 log ccd case id on exceptions
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/AsylumCaseRequestAdapter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-186

#196 secret ccd-url out of vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-documents-api-pr-196
