Repository hmcts/ia-case-documents-api, pull requests merged in 2020-10, with the labels that each got.

#295 Ria 3592 payment status
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatus.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-295

#306 RIA-3669 Owasp plugin upgrade
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/test_config.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-306

#308 RIA-3668 terraform 12.x
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-308

#309 RIA-3668 Azure provider v2
  infrastructure/main.tf
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-309

#315 RIA-3451 CO and Judge decide an application
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-315

#319 Terraform v13
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-319

#316 RIA-3652 direction and state change for ftpa decision reheard
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTag.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-316
