Repository hmcts/ia-case-documents-api, pull requests merged in 2020-12, with the labels that each got.

#334 RIA-3670: updated dependabot depdendcies (changes from PRs 271, 272, 301, 310, 320, 328)
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-334

#344 RIA-3634: addressed CVE (CVE-2020-17527) by updating embed tomcat version
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-344

#348 RIA-3885:Fix mutation test, add suppression for CVE-2020-8908
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaAppointmentNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaRequirementsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/health/DownStreamHealthIndicatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-348
