Repository hmcts/ia-case-documents-api, pull requests merged in 2020-07, with the labels that each got.

#212 RIA-2918 add save and continue feature flag
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-disabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGenerator.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-212

#237 RIA-3048: CMA Requirements
  src/functionalTest/resources/scenarios/RIA-3048-cma-requirements-request-document.json
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaRequirementsCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaRequirementsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-237

#240 RIA-3023: CMA Listed
  Jenkinsfile_CNP
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.aat.template.yaml
  charts/ia-case-documents-api/values.preview.template.yaml
  charts/ia-case-documents-api/values.yaml
  src/functionalTest/resources/scenarios/RIA-3023-list-cma-notice-document-bradford-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Direction.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Parties.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaAppointmentNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaAppointmentNoticeTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/DirectionFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/HearingDetailsFinder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/PartiesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DirectionFinderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaAppointmentNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-240

#199 RIA-1359: Edit appeal after submit event created.
  src/functionalTest/resources/scenarios/RIA-1359-edit-appeal-after-submission-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-199

#242 RIA-3420_Nighly_Build
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-242

#252 fix security vulnerability
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-252

#210 RIA-2830 update the entity type
  lombok.config
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentWithMetadata.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-210

#239 RIA-3411 fix end an appeal
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/AsylumCaseFixtures.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentReceiver.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-239

#244 RIA-3444 upgrading to Java11
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-244

#236 RIA-2951 gradle version bumped to v6.5
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-236
