Repository hmcts/ia-case-documents-api, pull requests merged in 2020-01, with the labels that each got.

#148 AKS migration for ITHC env
  build.gradle
  infrastructure/ithc.tfvars
Labels: ns:ia-case-documents-api-pr-148

#144 Ria 2011 modify admin listing
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
Labels: ns:ia-case-documents-api-pr-144

#150 ithc docmosis config
  infrastructure/main.tf
Labels: ns:ia-case-documents-api-pr-150

#152 remove deprecated properties
  build.gradle
Labels: ns:ia-case-documents-api-pr-152

#153 fix sonar build
  build.gradle
Labels: ns:ia-case-documents-api-pr-153

#154 fix sonar build
  build.gradle
Labels: ns:ia-case-documents-api-pr-154

#162 fix security vulnerabilities
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/WelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/WelcomeController.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentConversionClientTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-162

#158 RIA-2448: fixed docker-compose file to make it work and updated the …
  README.md
  docker-compose.yml
Labels: ns:ia, rel:ia-case-documents-api-pr-158

#155 RIA-2378 em-stitching-flag in documents-api
  Jenkinsfile_CNP
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-disable-stitching.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-enable-stitching.json
  src/functionalTest/resources/scenarios/RIA-941-hearing-bundle-disable-stitching.json
  src/functionalTest/resources/scenarios/RIA-941-hearing-bundle-enable-stithing.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGenerator.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSkeletonBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcherTest.java
Labels: ns:ia, ns:ia-case-documents-api-pr-155, rel:ia-case-documents-api-pr-155
