Repository hmcts/ia-case-documents-api, pull requests merged in 2020-02, with the labels that each got.

#163 Citizen Permission
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-2537-appeal-submission-document-citizen-role.json
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-163

#168 fix security vulnerability in checkstyle plugin
  build.gradle
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Direction.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/DatesToAvoid.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/DatesToAvoidTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingBundleGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeEditedTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-168

#172 Removing docker config which is not required.
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-case-documents-api-pr-172

#170 removing aadidentityname config
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-170

#175 update charts
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/requirements.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-175

#176 zap testing report in HTML
  security.sh
Labels: ns:ia, rel:ia-case-documents-api-pr-176

#177 remove deprecation in config
  charts/ia-case-documents-api/values.preview.template.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-177

#160 RIA-2031 update hearing requirements
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingRequirementsCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingRequirementsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-160

#165 RIA-2337 template name change
  src/main/resources/application.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-165

#185 dependency check fix for CVE-2020-1938
  build.gradle
Labels: ns:ia, rel:ia-case-documents-api-pr-185
