Repository hmcts/ia-case-documents-api, pull requests merged in 2020-11, with the labels that each got.

#327 RIA-3760 Solving mutations after junit5 migration
  build.gradle
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/FileTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaRequirementsTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/AsylumCaseRequestAdapterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/enties/em/BundleCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/enties/em/BundleDocumentTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-327

#317 Ria 3683 ao lists reheard case
  src/functionalTest/resources/scenarios/RIA-3683-edit-case-listing-hearing-notice-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-3683-hearing-notice-document-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-3683-reheard-edit-case-listing-hearing-notice-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-3683-reheard-hearing-notice-document-iac-birmingham.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-317

#323 Ria 3131 pre hearing to decision
  src/functionalTest/resources/scenarios/RIA-3131-generate-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-3131-generate-reheard-decisions-and-reasons.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/DecisionAndReasonsCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/DecisionAndReasonsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-323

#325 Ria 3132 decision to decided
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-3132-send-decisions-and-reasons.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-325
