Repository hmcts/ia-case-documents-api, pull requests merged in 2020-08, with the labels that each got.

#257 update DocumentTag
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-257

#260 jackson-core and jackson-datatype-jsr310 from 2.10.1 to 2.11.2
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-260

#276 Solving Mutation
  build.gradle
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaAppointmentNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CmaRequirementsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsPdfServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-276

#254 RIA-3372: CVE checks clean up
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-254

#281 remove deprecated terraform script
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/EndpointSecurityTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-281
