Repository hmcts/ia-case-documents-api, pull requests merged in 2020-04, with the labels that each got.

#206 Docmosis key cleanup
  infrastructure/main.tf
Labels: ns:ia, rel:ia-case-documents-api-pr-206

#207 fix Terraform script
  infrastructure/output.tf
Labels: ns:ia, rel:ia-case-documents-api-pr-207

#202 missing dns group for perftest
  infrastructure/perftest.tfvars
Labels: ns:ia, rel:ia-case-documents-api-pr-202

#197 Removed urls out of vault
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:ia, rel:ia-case-documents-api-pr-197

#208 Launch Darkly integration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-208

#209 Ria 2767 api docs
  .github/workflows/swagger.yml
  .travis.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/docs/SwaggerPublisher.java
Labels: ns:ia, rel:ia-case-documents-api-pr-209

#213 RIA-2804 changes in docmosis templates
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/MapValueExpander.java
  src/functionalTest/resources/scenarios/RIA-1152-RIA-1153-RIA-2804-generate-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-1154-RIA-2804-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-1280-RIA-2804-generate-decisions-and-reasons-judge.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2804-edit-case-listing-hearing-notice-document-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2804-edit-case-listing-hearing-notice-document-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2804-hearing-notice-document-bradford-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1380-RIA-2804-hearing-notice-document-newport-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-admin.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-judge.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-edit-case-listing-hearing-notice-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-edit-case-listing-hearing-notice-iac-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-edit-case-listing-hearing-notice-iac-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-edit-case-listing-hearing-notice-iac-north-shields.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-hearing-notice-document-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-hearing-notice-document-iac-glasgow.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-hearing-notice-document-iac-hatton-cross.json
  src/functionalTest/resources/scenarios/RIA-1976-RIA-2804-hearing-notice-document-iac-north-shields.json
  src/functionalTest/resources/scenarios/RIA-2239-RIA-2804-end-appeal-notice-document.json
  src/functionalTest/resources/scenarios/RIA-2521-RIA-2804-edit-case-listing-hearing-notice-changed-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-2521-RIA-2804-edit-case-listing-hearing-notice-changed-hearing-date.json
  src/functionalTest/resources/scenarios/RIA-362-RIA-1673-RIA-2804-edit-case-listing-hearing-notice-document.json
  src/functionalTest/resources/scenarios/RIA-412-RIA-1571-RIA-2804-hearing-notice-document.json
  src/functionalTest/resources/scenarios/RIA-587-RIA-2804-hearing-requirements-request-document.json
  src/functionalTest/resources/scenarios/RIA-823-RIA-2804-end-appeal-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProvider.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-213

#216 RIA-2864-Clarifying_question
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestion.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Direction.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTest.java
Labels: ns:ia, rel:ia-case-documents-api-pr-216
