Repository hmcts/ia-case-documents-api, pull requests merged in 2021-08, with the labels that each got.

#436 RIA-4262 AIP move to the gov.uk subdomain
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-436

#441 reset Jenkins pipeline
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-441

#442 add quotes to the configuration file
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-442

#443 update charts to 3.6.0
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-443

#444 Ingress host in values.yaml
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-444

#417 RIA-4095
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-417

#414 RIA-4351 generate upper tribunal bundle
  src/functionalTest/resources/scenarios/RIA-4351-generate-upper-tribunal-bundle-stitching-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpperTribunalBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpperTribunalBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-414
