Repository hmcts/ia-case-documents-api, pull requests merged in 2021-05, with the labels that each got.

#407 fix security scan
  audit.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-407

#405 RIA-4047 Record out of time decision documentTag added
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-405

#410 additional logging
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocmosisDocumentGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-410

#391 RIA-4251 Customise hearing bundle event doesn't generate all documents
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-391

#390 RIA-3887 ia-documents-api refactoring
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-390
