Repository hmcts/ia-case-documents-api, pull requests merged in 2021-04, with the labels that each got.

#379 Ria 3721 update hearing requirements
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-judge-reheard.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-judge.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-tcw-reheard.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-tcw.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-379

#382 RIA-3825 ooc hearing requirements
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-in-country-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-in-country.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-ooc-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-ooc.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-in-country-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-in-country.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-ooc-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-382

#395 RIA-4278 fix CVE and upgrade Charts
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/WordDocumentToPdfConverter.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-395

#398 additional pitests for nightly build
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumAppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ContactPreferenceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingLengthTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-398
