Repository hmcts/ia-case-documents-api, pull requests merged in 2021-03, with the labels that each got.

#380 RIA-4086 Updated docmosis non-prod urls
  .github/workflows/swagger.yml
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-380

#373 RIA-4056 Upgrade spring-boot to 2.3.5
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-373

#381 RIA-4058 remove cpe CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-381

#371 RIA-4055 Upgrade apache.httpcomponents/httpclient to 4.5.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-371

#368 RIA-4054 Upgrade launchdarkly version from 4.14.1 to 5.2.2
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-368

#385 RIA-4121 Upgrade Tomcat version from 9.0.40 to 9.0.43
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-385

#369 RIA-4070 Upgrade guava version 30.0
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/WelcomeController.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-369

#383 Tornado integration
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-383

#361 RIA-3863_ooc_pdf
  src/functionalTest/resources/scenarios/RIA-3863-appeal-submission-document-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryDecisionType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryDecisionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-361

#366 RIA-3718
  src/functionalTest/resources/scenarios/RIA-587-RIA-2804-hearing-requirements-request-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaRequirementsTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-366

#364 RIA-3720
  src/functionalTest/resources/scenarios/RIA-3720-hearing-notice-document-iac-remote-hearing.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/HearingNoticeTemplateConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcherTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-364

#367 Ria 3722 edit listing
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-hearing-centre-to-remote-reheard.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-hearing-centre-to-remote.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-remote-hearing-reheard.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-remote-hearing.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-remote-to-hearing-centre-reheard.json
  src/functionalTest/resources/scenarios/RIA-3722-edit-case-listing-hearing-notice-remote-to-hearing-centre.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedDetailsRemoteTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedDetailsRemoteTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-367
