Repository hmcts/ia-case-documents-api, pull requests merged in 2022-12, with the labels that each got.

#521 RIA-6491: Give admin officer access to edit appeal post submission
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-521

#522 RIA-6529: Generate Hearing Notice after listing for ADA cases
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/HearingNoticeTemplateConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/AsylumPreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-522

#524 Added Yarls Wood as hearing centre and also its address
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-524
