Repository hmcts/ia-case-documents-api, pull requests merged in 2022-02, with the labels that each got.

#446 RIA-4540: Added uniqueId and directionType to Direction class
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Direction.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/ClarifyingQuestionsAnswersTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-446

#460 RIA-4593 multiple clarifying questions
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestionAnswer.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestionAnswerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/ClarifyingQuestionsAnswersTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-460

#461 RIA-5471: Update dependencies & address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-461

#462 RIA-5503: Upgrade base helm charts to latest
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-462
