Repository hmcts/ia-case-documents-api, pull requests merged in 2022-05, with the labels that each got.

#471 RIA-5610: Refactoring of application to generate documents for bailC…
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/bail/RIA-5610-bail-application-submission-document.json
  src/functionalTest/resources/templates/minimal-bail-application-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCase.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/NationalityFieldValue.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailSubmissionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameQualifier.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/AsylumPreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/BailPreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/AsylumPreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/BailPreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/NationalityFieldValueTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailSubmissionCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameQualifierTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/AsylumPreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/BailPreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/AsylumPreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/BailPreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-471

#473 RIA-5610: Fix Legal Rep data for Application submitted by Applicant v…
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-473

#474 Ria 5496 record the decision
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-granted.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-judge-minded-refusal.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-refusal.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedGrantedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedMindedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailDecisionUnsignedGrantedTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailDecisionUnsignedMindedRefusalTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailDecisionUnsignedRefusalTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/helper/BailDecisionUnsignedTemplateHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedGrantedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedMindedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedGrantedTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedMindedRefusalTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedRefusalTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/BailDecisionUnsignedTemplateHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-474

#478 Detention location changes
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/helper/BailDecisionUnsignedTemplateHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/BailDecisionUnsignedTemplateHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-478

#479 RIA-5218 End application document generation changes
  src/functionalTest/resources/scenarios/bail/RIA-5218-bail-end-application-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailEndApplicationCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailEndApplicationTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailEndApplicationCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailEndApplicationTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-479

#482 Ria 5741 bails
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/EvidenceManagementBundlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/fixtures/UserDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/config/OpenApiPublisher.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/callback/PostSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/AsylumPreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/BailPreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/EmDocumentBundlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-482

#484 Add missing Documents tag
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-484

#485 RIA-5467: Added b1 form tag
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-485
