Repository hmcts/ia-case-documents-api, pull requests merged in 2022-10, with the labels that each got.

#511 RIA-6264: Added missing reporting conditions in unsigned decision document.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailDecisionUnsignedGrantedTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-511

#514 Suppress vulnerabilities
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-514

#515 RIA-6264: Updated BailDecisionUnsignedGrantedTemplateTest to improve …
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedGrantedTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-515

#513 Merge bails record decision changes to master
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedGrantedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedMindedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionPdfService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedGrantedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedMindedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionPdfServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-513

#499 Online Card Pay release branch - Master <- Dev - Do No Merge
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-5778-end-appeal-automatically-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/EndAppealAutomaticallyNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealAutomaticallyTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/EndAppealAutomaticallyNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealAutomaticallyTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-499
