Repository hmcts/ia-case-documents-api, pull requests merged in 2022-09, with the labels that each got.

#503 RIA-5587 Add EU appealType
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumAppealType.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumAppealTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-503

#504 Added new out-of-country type
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryDecisionType.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryDecisionTypeTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-504

#507 RIA-6121 Change HO permission roles for bail events v2
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-507

#509 Enable Swagger endpoints access and fix the security scanning issues
  Dockerfile
  audit.json
  build.gradle
  security.sh
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-509

#506 RIA-6128: Change unsigned decision document to docx format
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedGrantedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedMindedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedRefusalCreator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedGrantedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedMindedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedRefusalCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-506

#510 RIA-6129: Convert signed decision notice from docx to pdf format
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionPdfService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionPdfServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-510
