Repository hmcts/ia-case-documents-api, pull requests merged in 2022-01, with the labels that each got.

#456 RIA-4863: allow draftHearingRequirements event for citizen role
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-456

#455 RIA-4928
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-disabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-enabled.json
  src/functionalTest/resources/scenarios/RIA-4928-clarifying-questions-answers-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestionAnswer.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/ClarifyingQuestionsAnswersCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/ClarifyingQuestionsAnswersTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ClarifyingQuestionAnswerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/ClarifyingQuestionsAnswersCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/ClarifyingQuestionsAnswersTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-455

#458 Ria 4926 bundling template update
  src/functionalTest/resources/scenarios/RIA-4926-generate-hearing-ready-bundle-stitching-enabled-aip.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-458
