Repository hmcts/ia-case-documents-api, pull requests merged in 2022-03, with the labels that each got.

#447 RIA-4600 Update decision and reasons cover letter
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-447

#465 Ria 4600
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-465

#468 RIA-5664 suppress databind vulnerability until a fix is ready.
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-468
