Repository hmcts/ia-case-documents-api, pull requests merged in 2022-06, with the labels that each got.

#487 RIA-5801 added make new application event
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailSubmissionCreator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-487

#488 RIA-5582 - Adding edit bail after submission event to bail submission…
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailSubmissionCreator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-488

#490 to address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-490

#491 RIA-5885 Added show previous application section condition
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/PriorApplication.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/PriorApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-491

#492 RIA-5905 Update field names
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailDecisionUnsignedGrantedTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedGrantedTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-492
