Repository hmcts/ia-case-documents-api, pull requests merged in 2023-11, with the labels that each got.

#756 RIA-7922 Improve test coverage
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DynamicMultiSelectList.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DynamicListTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-756

#757 RIA-7922 update witness details class
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetails.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-757

#758 RIA-7882 Add editCaseListing permission for caseworker-ia-system
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-758

#747 DIAC-66 getting all functionals to run
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-5778-end-appeal-automatically-notice-document.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/IaCaseDocumentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/WithStitchingStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/AsylumCaseFixtures.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-747

#760 RIA-TASK - Merge master changes to NABA - ia-case-documents-api
  .github/renovate.json
  .github/workflows/pr-title-validation.yml
  .github/workflows/swagger.yml
  Dockerfile
  audit.json
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/state.tf
  security.sh
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/CdamDocumentDownloadClient.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedMindedRefusalTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/SystemDateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-760

#759 DIAC-00 Revert pact dependency upgrade
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-759

#762 RIA-TASK - Removed print line that causes issues on windows
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-762

#752 DIAC-84 Disable Decision and reasons document PDF conversion
  src/functionalTest/resources/scenarios/RIA-1154-RIA-2804-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-admin.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-judge.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-3132-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-4925-appeal-reasons-document.json
  src/functionalTest/resources/scenarios/RIA-4925-appeal-reasons-with-no-evidence-document.json
  src/functionalTest/resources/scenarios/RIA-4936-send-decisions-and-reasons.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileService.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-752, enable_keep_helm

#765 RIA-7973 Updated Bail application details template
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/bail/RIA-5218-bail-end-application-document.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-granted.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-judge-minded-refusal.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-refusal.json
  src/functionalTest/resources/scenarios/bail/RIA-5610-bail-application-submission-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-765

#767 RIA-7950 upgrade_fix
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecisionTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-767
