Repository hmcts/ia-case-documents-api, pull requests merged in 2023-03, with the labels that each got.

#556 Ria 6844 Add date to ADA suitability document
  charts/ia-case-documents-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AdaSuitabilityTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AdaSuitabilityTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-556

#557 To suppress new CVEs for doc store release
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-557

#558 To update azurerm version for terraform
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-558

#562 To revert cdam changes from production
  charts/ia-case-documents-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-562
