Repository hmcts/ia-case-documents-api, pull requests merged in 2023-09, with the labels that each got.

#675 RIA-7362 ho_ftpa_decided_refused
  src/functionalTest/resources/scenarios/RIA-7362-internal-ho-ftpa-decided-refused-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/FtpaDecisionOutcomeType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedPartiallyGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedRefusedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedPartiallyGrantedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedRefusedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-675

#662 RIA-7750 party ID generation LR journey
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetails.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-662

#676 RIA-7331 Internal appellant ftpa decided - partially granted document
  src/functionalTest/resources/scenarios/RIA-7331-internal-appellant-ftpa-decided-partially-granted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppellantFtpaDecidedPartiallyGrantedTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppellantFtpaDecidedPartiallyGrantedTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-676

#677 RIA-7332 Document for Appellant ftp decided - refused
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-7332-internal-appellant-ftpa-decided-refused-document-ada.json
  src/functionalTest/resources/scenarios/RIA-7332-internal-appellant-ftpa-decided-refused-document-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppellantFtpaDecidedRefusedTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppellantFtpaDecidedRefusedTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-677

#669 RIA-TASK - Merged Master changes to NABA case-documents
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/ConfigValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/fixtures/DocumentManagementFilesFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/CdamSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/DmSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/SystemDocumentManagementUploader.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/TestClassOrderer.java
  src/integrationTest/resources/junit-platform.properties
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/CdamDocumentDownloadClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/CdamDocumentManagementUploader.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DmDocumentDownloadClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DmDocumentManagementUploader.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentDownloadClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentManagementUploader.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/CdamDocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DmDocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentDownloadClientTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/CdamDocumentManagementUploaderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DmDocumentManagementUploaderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/DocumentManagementUploaderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-669

#682 RIA-7844 reinstate content added to InternalDecideAnApplicationDecisionGrantedLetterTemplate
  src/functionalTest/resources/scenarios/RIA-7844-internal-ada-decide-an-application-reinstate-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7844-internal-ada-decide-an-application-reinstate-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7844-internal-detained-decide-an-application-reinstate-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7844-internal-detained-decide-an-application-reinstate-decision-refused-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-682

#683 RIA-5679 Changed suppression to fixed dependency
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-683

#684 RIA-7844 Add full stop to String
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-684

#686 RIA-7322 Internal hearing requirements updated letter generation
  src/functionalTest/resources/scenarios/RIA-7322-internal-hearing-requirements-updated-ada-letter.json
  src/functionalTest/resources/scenarios/RIA-7322-internal-hearing-requirements-updated-non-ada-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalHearingRequirementsUpdatedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHearingRequirementsUpdatedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalHearingRequirementsUpdatedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHearingRequirementsUpdatedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-686

#689 RIA-7875 updates to resolve conflicts
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-689

#690 RIA-7368 internal ho application refused
  src/functionalTest/resources/scenarios/RIA-7368-internal-ada-decide-a-respondent-application-adjourn-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-ada-decide-a-respondent-application-expedite-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-ada-decide-a-respondent-application-judge-review-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-ada-decide-a-respondent-application-transfer-out-of-ada-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-detained-decide-a-respondent-application-adjourn-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-detained-decide-a-respondent-application-expedite-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-detained-decide-a-respondent-application-judge-review-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7368-internal-detained-decide-a-respondent-application-transfer-out-of-ada-decision-refused-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDecideAnApplicationLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnAppellantApplicationDecisionRefusedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideHomeOfficeApplicationDecisionRefusedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDecideAnApplicationLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnAppellantApplicationDecisionRefusedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideHomeOfficeApplicationDecisionRefusedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-690

#688 RIA-7372 appeal_ended
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEndAppealTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEndAppealTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-688

#691 RIA-7322 hearingDate removed from template
  src/functionalTest/resources/scenarios/RIA-7322-internal-hearing-requirements-updated-ada-letter.json
  src/functionalTest/resources/scenarios/RIA-7322-internal-hearing-requirements-updated-non-ada-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHearingRequirementsUpdatedLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHearingRequirementsUpdatedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-691

#687 RIA-7561 Fix the deadline date in the 'Request Hearing Requirements'…
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestHearingRequirementsTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestHearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-687

#695 RIA-7427 Internal upload additional evidence doc generation
  src/functionalTest/resources/scenarios/RIA-7427-internal-upload-addendum-evidence-document-ada.json
  src/functionalTest/resources/scenarios/RIA-7427-internal-upload-addendum-evidence-document-non-ada.json
  src/functionalTest/resources/scenarios/RIA-7427-internal-upload-additional-evidence-document-ada.json
  src/functionalTest/resources/scenarios/RIA-7427-internal-upload-additional-evidence-document-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalUploadAdditionalEvidenceGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalUploadAdditionalEvidenceLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalUploadAdditionalEvidenceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalUploadAdditionalEvidenceLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-695

#696 RIA-7378 unlink_case
  src/functionalTest/resources/scenarios/RIA-7378-internal-ada-maintain-case-unlink-appeal-document.json
  src/functionalTest/resources/scenarios/RIA-7378-internal-non-ada-maintain-case-unlink-appeal-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalMaintainCaseUnlinkAppealGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalMaintainCaseUnlinkAppealTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalMaintainCaseUnlinkAppealGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalMaintainCaseUnlinkAppealTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-696

#697 RIA-7378 unlink_case
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideHomeOfficeApplicationDecisionGrantedLetterTemplate.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-697

#698 RIA-7378 unlink_appeal
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealReasonsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppellantDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/ClarifyingQuestionsAnswersTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-698

#699 RIA-7378 unlink_appeal
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnAppellantApplicationDecisionGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideHomeOfficeApplicationDecisionGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/WhatHappensNextContentUtils.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-699

#700 RIA-7895 bug_fix_rule3235
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/FtpaDecisionOutcomeType.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-700

#706 RIA-7437 internal non standard direction letter
  src/functionalTest/resources/scenarios/RIA-7437_Internal_Non_Standard_Direction_Letter-Nonada.json
  src/functionalTest/resources/scenarios/RIA-7437_Internal_Non_Standard_Direction_Letter-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalNonStandardDirectionLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalNonStandardDirectionLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalNonStandardDirectionLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalNonStandardDirectionLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-706

#708 RIA-5679 nightly fixes
  audit.json
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  security.sh
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailDecisionUnsignedMindedRefusalTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/SystemDateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-708

#711 RIA-7376 link_cases
  src/functionalTest/resources/scenarios/RIA-7376-internal-link-case-ada-notice-document.json
  src/functionalTest/resources/scenarios/RIA-7376-internal-link-case-non-ada-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCase.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/caselinking/CaseLink.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-711

#714 RIA-7437 Generate letter when party is APPELLANT_AND_RESPONDENT in 'S…
  .github/renovate.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalNonStandardDirectionLetterGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-714

#702 RIA-7433 Generate letter when LO changes hearing centre for detained…
  src/functionalTest/resources/scenarios/RIA-7433-change-hearing-centre-internal-detained-ada.json
  src/functionalTest/resources/scenarios/RIA-7433-change-hearing-centre-internal-detained.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/ChangeHearingCentreLetterCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalChangeHearingCentreLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/ChangeHearingCentreLetterCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalChangeHearingCentreLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-702

#710 RIA-7879 map epims ids to ccd hearing locations
  src/functionalTest/resources/scenarios/RIA-7879-hearing-notice-document-iac-harmondsworth.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentre.java
  src/main/resources/strings.tsv
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-710

#717 RIA-7418 Appeal edited - ADA & Non ADA (Letter)
  src/functionalTest/resources/scenarios/RIA-7418-internal-edit-ada-appeal-notice-document.json
  src/functionalTest/resources/scenarios/RIA-7418-internal-edit-non-ada-appeal-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditAppealGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEditAppealLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditAppealGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEditAppealLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-717

#719 RIA-7370 HO upload additional/addendum evidence + LO upload addendum evidence doc generation
  src/functionalTest/resources/scenarios/RIA-7370-internal-ada-home-office-upload-addendum-evidence.json
  src/functionalTest/resources/scenarios/RIA-7370-internal-ada-home-office-upload-additional-evidence.json
  src/functionalTest/resources/scenarios/RIA-7370-internal-ada-legal-officer-upload-addendum-evidence-supplied-by-ho.json
  src/functionalTest/resources/scenarios/RIA-7370-internal-detained-home-office-upload-addendum-evidence.json
  src/functionalTest/resources/scenarios/RIA-7370-internal-detained-home-office-upload-additional-evidence.json
  src/functionalTest/resources/scenarios/RIA-7370-internal-detained-legal-officer-upload-addendum-evidence-supplied-by-ho.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/HasDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalUploadAdditionalEvidenceGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHomeOfficeUploadAdditionalAndAddendumEvidenceTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalLegalOfficerUploadAdditionalAndAddendumEvidenceTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalUploadAdditionalEvidenceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHomeOfficeUploadAdditionalAndAddendumEvidenceTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalLegalOfficerUploadAdditionalAndAddendumEvidenceTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-719

#725 RIA-7370 Provide home office apc permission for uploadAdditionalEvidenceHomeOffice and uploadAddendumEvidenceHomeOffice
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-725
