Repository hmcts/ia-case-documents-api, pull requests merged in 2023-04, with the labels that each got.

#565 Update Dockerfile
  Dockerfile
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-565

#568 RIA-6560 - Functional tests improvements
  Dockerfile
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-568

#570 RIA-6560 - Suppress CVE-2023-20863
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-570
