Repository hmcts/ia-case-documents-api, pull requests merged in 2023-10, with the labels that each got.

#727 RIA-7370 Added a null check when reading addendum metadata
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalUploadAdditionalEvidenceGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-727

#728 RIA-7370 Suppress CVE
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-728

#715 RIA-7471 letter generation direction due date changed
  src/functionalTest/resources/scenarios/RIA-7471-change-direction-due-date-letter-generation-ada-internal.json
  src/functionalTest/resources/scenarios/RIA-7471-change-direction-due-date-letter-generation-non-ada-internal.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalChangeDirectionDueDateLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalChangeDirectionDueDateLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedChangeDueDateDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-715

#730 RIA-7435 Home office non-Standard direction letter
  src/functionalTest/resources/scenarios/RIA-7435_home_office_non_standard_direction_letter_ada.json
  src/functionalTest/resources/scenarios/RIA-7435_home_office_non_standard_direction_letter_nonada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/HomeOfficeNonStandardDirectionLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HomeOfficeNonStandardDirectionLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/HomeOfficeNonStandardDirectionLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HomeOfficeNonStandardDirectionLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-730

#729 RIA-7439 ho_change_direction_due_date
  src/functionalTest/resources/scenarios/RIA-7439-ho-change-direction-due-date-letter-generation-ada-internal.json
  src/functionalTest/resources/scenarios/RIA-7439-ho-change-direction-due-date-letter-generation-non-ada-internal.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalHoChangeDirectionDueDateLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoChangeDirectionDueDateLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalHoChangeDirectionDueDateLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoChangeDirectionDueDateLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-729

#731 RIA-7439 ho_change_direction_due_date
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalChangeDirectionDueDateLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoChangeDirectionDueDateLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-731

#732 DIAC-2 Updated Renovate config file, added automerge, scheduling and package…
  .github/renovate.json
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-732

#734 DIAC-2 updating renovate schedule
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-734

#726 RIA-7881 list the case system user
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-726

#736 RIA-1234 swagger workflow run fix
  .github/workflows/swagger.yml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-736

#722 RIA-7429 Letter generation for Internal Reinstate Appeal
  src/functionalTest/resources/scenarios/RIA-7429-internal-reinstate-appeal-document-ada.json
  src/functionalTest/resources/scenarios/RIA-7429-internal-reinstate-appeal-document-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalReinstateAppealLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalReinstateAppealLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalReinstateAppealLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalReinstateAppealLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-722

#742 DIAC-2 changing deprecated config option
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-742

#743 RIA-7411 Removing OOC feature flag fields
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-587-RIA-2804-hearing-requirements-request-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaRequirementsTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-743

#749 DIAC-000 Dependency fix
  .github/workflows/pr-title-validation.yml
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-749

#746 RIA-7537 EJP LO additional events
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-746

#750 RIA-7195 remove listing reference number from notification template when hearing list assist hearing v2
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaAppointmentNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-750

#751 RIA-8888 Upgraded chart version
  charts/ia-case-documents-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-751

#753 RIA-7792 Remove witness list element from logic
  charts/ia-case-documents-api/Chart.yaml
  src/functionalTest/resources/scenarios/RIA-7567-draft-hearing-requirements-interpreter-information.json
  src/functionalTest/resources/scenarios/RIA-7567-update-hearing-requirements-interpreter-information.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-753

#754 RIA-7447 Start and Submit Appeal for EJP Journey
  src/functionalTest/resources/scenarios/RIA-587-RIA-2804-hearing-requirements-request-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaRequirementsTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-754
