Repository hmcts/ia-case-documents-api, pull requests merged in 2023-12, with the labels that each got.

#771 DIAC-123 suppressions update 04/12/23
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-771

#775 RIA-2023 rebuild_pipelines
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealDecisionTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-775

#766 DIAC-78 Remove logs containing case data
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLogger.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLoggerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-documents-api-pr-766

#777 DIAC-002 reverting terraform updates as requires more work
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-777

#783 DIAC-184 build fix 18-12-23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-783

#778 RIA-8119 Bail application document changes with added interpreter fields
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguageCategory.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-778
