Repository hmcts/ia-case-documents-api, pull requests merged in 2023-02, with the labels that each got.

#548 To upgrade java chart version
  Jenkinsfile_CNP
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-548

#550 To revise chart version
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-550

#549 RIA-6612: Update Bundling events to include Ada suitability review do…
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/functionalTest/resources/scenarios/RIA-6612-customise-hearing-bundle-with-ada-suitability-preparer.json
  src/functionalTest/resources/scenarios/RIA-6612-generate-hearing-bundle-with-tribunal-documents-stitching-enabled.json
  src/functionalTest/resources/scenarios/RIA-6612-generate-upper-tribunal-bundle-with-tribunal-documents-stitching-enabled.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundlePreparer.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpperTribunalBundleHandler.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/CustomiseHearingBundlePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpperTribunalBundleHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-549

#551 RIA-6694-Admin-Submit-Appeal
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-551

#552 RIA-6700 - Allowing access to editAppeal for Admin users
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-552

#554 RIA-6721 Appeal submission summary document for internally created cases
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-554

#553 RIA-6702 - Internal case creation adding access to the following even…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-553
