Repository hmcts/ia-case-documents-api, pull requests merged in 2023-05, with the labels that each got.

#564 Updated dependencies to remove suppressed CVEs
  Dockerfile
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-564

#573 Merge master into ia-case-documents-api-naba
  Dockerfile
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-573

#575 RIA-7002
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Parties.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/PartiesTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-575

#576 RIA-7043 add NOTICE_OF_DECISION_UT_TRANSFER document tag
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-576

#578 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-578

#580 Supressed CVE-2023-28709
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-580
