Repository hmcts/ia-case-documents-api, pull requests merged in 2023-08, with the labels that each got.

#623 RIA-7552_appeal_can_proceed: Add Asylum case definition for Record ou…
  src/functionalTest/resources/scenarios/RIA-7552-internal-detained-non-ada-appeal-can-proceed.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalAppealCanProceedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealCanProceedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalAppealCanProceedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealCanProceedLetterTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-623

#624 RIA-7552_appeal_can_proceed
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedDecisionsAndReasonsDismissedLetterTemplate.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-624

#626 Ria 7552 appeal can proceed
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealCanProceedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-626

#629 Ria 7554 directed to upload bundle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealCanProceedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealSubmissionTemplate.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update

#630 Ria 7554 directed to upload bundle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealAutomaticallyTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-630

#631 Ria 7554 directed to upload bundle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppointmentRequirementsFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/DecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/EndAppealAutomaticallyTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestBuildCaseTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestRespondentEvidenceTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/EndAppealTemplateHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HoReviewEvidenceLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaDecisionsAndReasonsDismissedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealCanProceedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedDecisionsAndReasonsAllowedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedDecisionsAndReasonsDismissedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/UploadAppealResponseMaintainedDecisionLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-631

#632 RIA-7722 Solve suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-632

#637 RIA-7582 non_payment_end_appeal
  src/functionalTest/resources/scenarios/RIA-7582-internal-end-appeal-automatically-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemissionType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEndAppealAutomaticallyGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEndAppealAutomaticallyTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEndAppealAutomaticallyGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEndAppealAutomaticallyTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-637

#638 RIA-7580 Generation of appeal fee letter with no remission
  src/functionalTest/resources/scenarios/RIA-7580-internal-detained-non-ada-appeal-fee-due-letter-generation.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedNoRemissionPaymentDueLetter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAppealPaymentDueTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemissionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedNoRemissionPaymentDueLetterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAppealPaymentDueTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-638

#641 RIA-7618 document remission partially approved rejected
  src/functionalTest/resources/scenarios/RIA-7580-internal-detained-non-ada-submit-appeal-appeal-fee-due-letter-generation.json
  src/functionalTest/resources/scenarios/RIA-7618-internal-detained-non-ada-remission-decision-appeal-fee-due-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemissionDecision.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedAppealFeeDueLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAppealFeeDueTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemissionDecisionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedNoRemissionPaymentDueLetterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAppealFeeDueTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-641

#640 RIA-7556 internal det ho review maintained
  src/functionalTest/resources/scenarios/RIA-7556-internal-detained-non-ada-review-home-office-response.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalReviewHomeOfficeResponseLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalReviewHomeOfficeResponseMaintainedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalReviewHomeOfficeResponseLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalReviewHomeOfficeResponseMaintainedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-640

#642 RIA-7559 DET letter case listing detained
  src/functionalTest/resources/scenarios/RIA-7559-internal-detained-non-ada-list-case-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedListCaseLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedListCaseLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedListCaseLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedListCaseLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-642

#643 RIA-7557 Internal detained review HO response decision withdrawn letter generation
  src/functionalTest/resources/scenarios/RIA-7556-internal-detained-review-home-office-response-decision-maintained.json
  src/functionalTest/resources/scenarios/RIA-7557-internal-detained-review-home-office-response-decision-withdrawn.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedReviewHomeOfficeResponseDecisionMaintainedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedReviewHomeOfficeResponseDecisionWithdrawnLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedReviewHomeOfficeResponseDecisionMaintainedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedReviewHomeOfficeResponseDecisionWithdrawnLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedReviewHomeOfficeResponseDecisionMaintainedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedReviewHomeOfficeResponseDecisionWithdrawnLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedReviewHomeOfficeResponseDecisionMaintainedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedReviewHomeOfficeResponseDecisionWithdrawnLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-643

#644 RIA-7561 - Added handler to generate letter when 'Request Hearing Requ…
  src/functionalTest/resources/scenarios/RIA-7561-internal-detained-request-hearing-requirements.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalDetainedRequestHearingRequirementsLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestHearingRequirementsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalDetainedRequestHearingRequirementsLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestHearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-644

#649 RIA-7561 - Allow LF for Request Hearing Requirements Feature
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-649

#650 RIA-7281 Added internal detained edit case listing letter
  src/functionalTest/resources/scenarios/RIA-7281-edit-case-listing-internal-detained-ada-iac-newcastle.json
  src/functionalTest/resources/scenarios/RIA-7281-edit-case-listing-internal-detained-non-ada-iac-glasgow.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedEditCaseListingDocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedEditCaseListingLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedEditCaseListingDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedEditCaseListingLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-650

#645 RIA-7567 appellant and witness interpreter requirement are available
  src/functionalTest/resources/scenarios/RIA-7567-draft-hearing-requirements-interpreter-information.json
  src/functionalTest/resources/scenarios/RIA-7567-update-hearing-requirements-interpreter-information.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DynamicMultiSelectList.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Value.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/WitnessInterpreterLanguageInformation.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-645

#651 RIA-7374 mark_appeal_as_ada
  src/functionalTest/resources/scenarios/RIA-7374-internal-detained-admin-mark-as-ada-letter.json
  src/functionalTest/resources/scenarios/RIA-7374-internal-detained-case-officer-mark-as-ada-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedMarkAsAdaLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedMarkAsAdaLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedMarkAsAdaLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedMarkAsAdaLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-651

#653 RIA-7364 internal decideAnApplication letter generation
  src/functionalTest/resources/scenarios/RIA-7364-internal-ada-decide-an-application-adjourn-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-ada-decide-an-application-expedite-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-ada-decide-an-application-judge-review-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-ada-decide-an-application-transfer-out-of-ada-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-detained-decide-an-application-adjourn-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-detained-decide-an-application-expedite-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-detained-decide-an-application-judge-review-decision-granted-letter.json
  src/functionalTest/resources/scenarios/RIA-7364-internal-detained-decide-an-application-transfer-out-of-ada-decision-granted-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/MakeAnApplication.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/MakeAnApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/MakeAnApplicationService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/MakeAnApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/MakeAnApplicationTypesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/MakeAnApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-653

#655 RIA-7364 Made some changes for sonar cloud failures
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAndAdaDecideAnApplicationDecisionGrantedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-655

#656 RIA-7802 To fix incorrect env value for PROD
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-656

#660 RIA-7365 Internal decide an application decision refused template generation
  src/functionalTest/resources/scenarios/RIA-7365-internal-ada-decide-an-application-adjourn-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-ada-decide-an-application-expedite-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-ada-decide-an-application-judge-review-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-ada-decide-an-application-transfer-out-of-ada-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-detained-decide-an-application-adjourn-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-detained-decide-an-application-expedite-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-detained-decide-an-application-judge-review-decision-refused-letter.json
  src/functionalTest/resources/scenarios/RIA-7365-internal-detained-decide-an-application-transfer-out-of-ada-decision-refused-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDecideAnApplicationLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionRefusedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDecideAnApplicationLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionGrantedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDecideAnApplicationDecisionRefusedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-660

#663 RIA-7326 internal fpa submitted letter generation
  src/functionalTest/resources/scenarios/RIA-7326-internal-ada-apply-for-ftpa-appellant-letter.json
  src/functionalTest/resources/scenarios/RIA-7326-internal-detained-apply-for-ftpa-appellant-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalApplyForFtpaAppellantLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalApplyForFtpaAppellantLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalApplyForFtpaAppellantLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalApplyForFtpaAppellantLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-663

#665 RIA-7326 Updated doc tag
  src/functionalTest/resources/scenarios/RIA-7326-internal-ada-apply-for-ftpa-appellant-letter.json
  src/functionalTest/resources/scenarios/RIA-7326-internal-detained-apply-for-ftpa-appellant-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalApplyForFtpaAppellantLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalApplyForFtpaAppellantLetterGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-665

#671 RIA-7360 ho_ftpa_decided_granted
  src/functionalTest/resources/scenarios/RIA-7360-internal-ho-ftpa-decided-granted-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedGrantedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-671

#672 RIA-7361 ho_ftpa_decided_partially_granted
  src/functionalTest/resources/scenarios/RIA-7361-internal-ho-ftpa-decided-partially-granted-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedPatiallyGrantedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalFtpaDecidedLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalHoFtpaDecidedPatiallyGrantedLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-672

#673 RIA-7326 Give LR permission for applyForFTPAAppellant event doc generation
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-673
