Repository hmcts/ia-case-documents-api, pull requests merged in 2023-06, with the labels that each got.

#582 Added new line character to kick off new build on pipeline
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/HearingDetailsFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-582

#581 AIP NON-DIRECTION -> Master
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Parties.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/PartiesTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-581

#566 SNI-2881: code fix applied and successfully tested locally
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/EmailAddressFinder.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-566

#583 RIA-7158 request case building notification attachment letter
  build.gradle
  src/functionalTest/resources/scenarios/RIA-7158-request-case-building-internal-legal-officer.json
  src/functionalTest/resources/templates/minimal-internal-appeal-submitted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaRequestBuildCaseDocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/GovUkHolidayDatesClient.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayLoader.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/UkHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DirectionTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaRequestBuildCaseDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/CountryHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/HolidayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/holidaydates/UkHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/DateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-583

#584 Added suppression to make CI/CD pipeline pass
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-584

#585 RIA-7158 date formatting
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-585

#588 Fix functional tests
  config/owasp/suppressions.xml
  src/functionalTest/resources/templates/minimal-aip-appeal-submitted.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-588

#591 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-591

#593 RIA-7175 Internal ADA suitability document - unsuitable
  src/functionalTest/resources/scenarios/RIA-7175-internal-ada-suitability-unsuitable-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewUnsuitableLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewUnsuitableLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-593
