Repository hmcts/ia-case-documents-api, pull requests merged in 2023-07, with the labels that each got.

#596 RIA-7174 ADA suitability document - suitable
  src/functionalTest/resources/scenarios/RIA-7174-internal-ada-suitability-suitable-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewSuitableLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewSuitableLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewSuitableLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/DateUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-596

#595 RIA-7175 internal ada suitability unsuitable document
  src/functionalTest/resources/scenarios/RIA-7175-internal-ada-suitability-unsuitable-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewUnsuitableLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaSuitabilityReviewUnsuitableLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-595

#592 RIA-7416 Split witness names to capture first and last names in LR journey
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-judge-reheard.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-judge.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-tcw-reheard.json
  src/functionalTest/resources/scenarios/RIA-3721-update-hearing-requirements-document-tcw.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-in-country-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-in-country.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-ooc-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-submit-giving-evidence-ooc.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-in-country-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-in-country.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-ooc-reheard.json
  src/functionalTest/resources/scenarios/RIA-3825-hearing-requirements-update-giving-evidence-ooc.json
  src/functionalTest/resources/scenarios/RIA-5778-end-appeal-automatically-notice-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/WitnessDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-592

#597 RIA-7172: Generate letter when 'HO Request Review' event is triggered
  src/functionalTest/resources/scenarios/RIA-7172-ho-review-evidence-letter-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/HoReviewEvidenceLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HoReviewEvidenceLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HoReviewEvidenceLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-597

#598 RIA-7212 Internal ADA Appeal decided, allowed document generation
  src/functionalTest/resources/scenarios/RIA-7212-internal-ada-send-decision-and-reasons-allowed-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaDecisionsAndReasonsLetterAllowedGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaDecisionsAndReasonsAllowedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaDecisionsAndReasonsLetterAllowedGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-598

#599 Ria 7540 dynamic internal email/tel
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/HoReviewEvidenceLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaDecisionsAndReasonsAllowedLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaRequestBuildCaseTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewSuitableLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalAdaSuitabilityReviewUnsuitableLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-599

#600 RIA-7174 Refactor package location
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-600

#601 RIA-7175 Refactor of package
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewUnsuitableLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewUnsuitableLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-601

#603 RIA-7574 Appeal submission summary document displays Legal Rep full …
  src/functionalTest/resources/scenarios/RIA-7574-appeal-submission-document_with_combined_legal_rep_first_and_family_names.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-603

#605 RIA-7198: Generate letter when HO maintains decision in 'Upload Appea…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-7198-upload-appeal-response-decision-maintained-letter-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AppealReviewOutcome.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/UploadTheAppealResponseLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/UploadAppealResponseMaintainedDecisionLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/UploadAppealResponseMaintainedDecisionLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-605

#602 RIA-7200 Internal ADA hearing bundle ready letter generation
  src/functionalTest/resources/scenarios/RIA-7200-internal-ada-hearing-bundle-ready-letter-generation.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalAdaHearingBundleReadyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaGenerateHearingBundleTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/InternalAdaRequestBuildCaseDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalAdaHearingBundleReadyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaGenerateHearingBundleTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-602

#607 RIA-7174 Adding new template vars to template
  src/functionalTest/resources/scenarios/RIA-7174-internal-ada-suitability-suitable-document.json
  src/functionalTest/resources/scenarios/RIA-7175-internal-ada-suitability-unsuitable-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalAdaSuitabilityReviewSuitableLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-607

#610 RIA-7538 Updated config and handler to handle internal case detained …
  src/functionalTest/resources/scenarios/RIA-7200-internal-ada-hearing-bundle-ready-letter-generation.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetHearingBundleReadyHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetHearingBundleReadyHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-610

#611 RIA-7606_change_customer_service_mail
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-611

#613 RIA-7200 Fix hearing centre name
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProvider.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetGenerateHearingBundleTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/CustomerServicesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-613

#615 RIA-7218 Allow document generation for all detained cases
  src/functionalTest/resources/scenarios/RIA-7172-ho-review-evidence-letter-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/HoReviewEvidenceLetterGenerator.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-615

#608 RIA-7378 - preventing application startup if secrets can't be found
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-case-documents-api/Chart.yaml
  charts/ia-case-documents-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/ConfigValidatorAppListener.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/ConfigValidatorAppListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-608

#619 RIA-7159 Rework of Non-ADA template to reduce duplication
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalDetainedRequestBuildCaseTemplate.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-619
