Repository hmcts/ia-case-documents-api, pull requests merged in 2024-09, with the labels that each got.

#948 RIA-9261 - Enable ILA FTs for Pipeline
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-3683-reheard-hearing-notice-document-iac-birmingham.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-disabled.json
  src/functionalTest/resources/scenarios/RIA-481-appeal-skeleton-document-stitching-save-and-return-enabled.json
  src/functionalTest/resources/scenarios/RIA-5778-end-appeal-automatically-notice-document.json
  src/functionalTest/resources/scenarios/RIA-8256-ftpa-reheard-decisions-and-reasons-complex-collection.json
  src/functionalTest/resources/scenarios/RIA-8772-reheard-listing-hearing-noticed-remitted.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-948

#956 RIA-9472 Added 2 new countries
  src/main/resources/strings.tsv
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-956

#957 RIA-9460 rename isoCountry list to support gov countries
  build.gradle
  src/functionalTest/resources/scenarios/RIA-8306-internal-record-out-of-time-decision-out-of-country.json
  src/functionalTest/resources/scenarios/RIA-9172-internal-non-detained-end-appeal-letter-ooc.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/NationalityGovUk.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/utils/AsylumCaseUtils.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseListedLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEditCaseListingLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEndAppealLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-957

#950 DIAC-545 Log stitch status failed
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpperTribunalBundleHandler.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, stale, rel:ia-case-documents-api-pr-950
