Repository hmcts/ia-case-documents-api, pull requests merged in 2024-02, with the labels that each got.

#819 RIA-8554 Using enums for Field definition comparison
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-819

#824 RIA-8232 ima_toggle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/ImaFeatureTogglerHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-824

#816 DIAC-195 updating PaymentStatus.java to match case api
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatus.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-816

#827 DIAC-195 - revert enum change
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatus.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PaymentStatusTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-827

#829 RIA-7957 Adding event authorisation for Upload Appeal Response for respondent user
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-829

#828 DIAC-236 splitting up tests to separate stages
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-828

#832 RIA-8232 Added new field RECORD_THE_DECISION_LIST_IMA to hold the dec…
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedMindedRefusalCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedRefusalCreator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedMindedRefusalCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedRefusalCreatorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-832
