Repository hmcts/ia-case-documents-api, pull requests merged in 2024-03, with the labels that each got.

#840 Revert "RIA-8726 - Merge SNL (BAILS) - > Master (DO NOT MERGE)"
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/bail/RIA-5218-bail-end-application-document.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-granted.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-judge-minded-refusal.json
  src/functionalTest/resources/scenarios/bail/RIA-5496-bail-decision-notice-unsigned-document-refusal.json
  src/functionalTest/resources/scenarios/bail/RIA-5610-bail-application-submission-document.json
  src/functionalTest/resources/scenarios/bail/RIA-8409-bail-hearing-notice-initial-listing.json
  src/functionalTest/resources/scenarios/bail/RIA-8410-bail-hearing-notice-relisting.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ApplicantDetainedLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguageCategory.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/Value.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/bail/BailInterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameWithCaseIdQualifier.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplateProvider.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ApplicantDetainedLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameWithCaseIdQualifierTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-840

#843 RIA-8211 update tribunal decision rule 31 aip timeline
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter-aip.json
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-843

#844 RIA-8211 fix the code smell problem of sonarCloud
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalAipDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalAipDecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-844

#845 RIA-8738 IMA - Rebasing docmosis template
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-845

#842 RIA-8239 Added unit tests and updated functional tests
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter-aip.json
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DecisionAndReasons.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DecisionAndReasonsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreatorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-842

#846 DIAC-281 fixing CcdScenarioRunnerTest
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-846

#849 RIA-8721 Fixed HMCTS logo for AIP cover letter AMENDED
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelperTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-849

#848 RIA-TASK VUL-5809 Upgrade serenity, restAssured, remove springHystrix reference
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-848

#850 RIA-TASK VUL-5808 Remove passoword from docker-compose.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  docker-compose.yml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-850

#857 RIA-8210 update tribunal decision docuement tab r31
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-857

#861 RIA-0000 Fix issues in functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-861

#852 RIA-8758 fix func tests patch
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-852
