Repository hmcts/ia-case-documents-api, pull requests merged in 2024-01, with the labels that each got.

#788 RIA-7324 Hearing adjourned without a date - ADA & Non ADA (Letter)
  src/functionalTest/resources/scenarios/RIA-7324-adjourn-hearing-without-date-internal-detained-ada.json
  src/functionalTest/resources/scenarios/RIA-7324-adjourn-hearing-without-date-internal-detained-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedAdjournHearingWithoutDateLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAdjournHearingWithoutDateLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalDetainedAdjournHearingWithoutDateLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalDetainedAdjournHearingWithoutDateLetterTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-788

#789 RIA-8364 Bail template change 01134 -> 01144
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-789

#787 DIAC-110 turning on fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-787

#791 RIA-8214 Add a new screen to Bails start application - UT appeal pending
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-791

#793 Revert "RIA-8214 Add a new screen to Bails start application - UT appeal pending"
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-793

#796 RIA-8214 Add a new screen to Bails start application - UT appeal pending
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-796

#798 RIA-8489 Refactored interpreter language
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingRequirementsTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-798

#794 RIA-8410 RIA-8409 Generate and store hearing notice on case (initial listing and relisting)
  src/functionalTest/resources/scenarios/bail/RIA-8409-bail-hearing-notice-initial-listing.json
  src/functionalTest/resources/scenarios/bail/RIA-8410-bail-hearing-notice-relisting.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ApplicantDetainedLocation.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameWithCaseIdQualifier.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ApplicantDetainedLocationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailCaseFileNameWithCaseIdQualifierTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BailDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-794

#801 RIA-8415 record adjournment details
  src/functionalTest/resources/scenarios/RIA-8514-record-adjournment-details.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/RecordAdjournmentDetailsCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/HearingNoticeTemplateConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/RecordAdjournmentDetailsCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-801

#810 RIA-8507 Fix the field type for fcs_has_passport in BailCaseFieldDefi…
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-810

#804 RIA-8212 Decision refused under IMA - Decision template
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailDecisionUnsignedRefusalCreator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/BailDecisionUnsignedRefusalCreatorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-804

#812 RIA-1111 sonar_fix
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/BailSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-812

#569 RIA-6987 Changes to add cache
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/ConfigValidationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/LivenessProbeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/config/OpenApiPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/TsvStringProviderTest.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-569, enable_keep_helm

#792 RIA-TASK - Merge master changes to NABA - ia-case-documents-api
  .github/renovate.json
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ia-case-documents-api/Chart.yaml
  config/fortify-client.properties
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-1154-RIA-2804-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-admin.json
  src/functionalTest/resources/scenarios/RIA-1939-RIA-2804-send-decisions-and-reasons-judge.json
  src/functionalTest/resources/scenarios/RIA-3132-ftpa-reheard-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-3132-send-decisions-and-reasons.json
  src/functionalTest/resources/scenarios/RIA-4925-appeal-reasons-document.json
  src/functionalTest/resources/scenarios/RIA-4925-appeal-reasons-with-no-evidence-document.json
  src/functionalTest/resources/scenarios/RIA-4936-send-decisions-and-reasons.json
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/GenerateDecisionAndReasonsTestWiremock.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/GivensBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/IaCaseDocumentsApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/component/testutils/WithStitchingStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/StitchingApiHttpErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/utilities/AsylumCaseFixtures.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLogger.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/ErrorResponseLoggerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-792

#814 RIA-8023 QA Fix: generate appeal summary for internal detained non-ADA appeals
  src/functionalTest/resources/scenarios/RIA-8023-internal-appeal-summary-document-and-det-letter-detained-non-ada.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreatorTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-814

#817 RIA-8554 Fix detention location on hearing-notice template
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplateTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-817
