Repository hmcts/ia-case-documents-api, pull requests merged in 2024-05, with the labels that each got.

#885 RIA-8802 bails notice of hearing displays the correct location information
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-885

#808 RIA-TASK - DLRM -> Master: DO NOT MERGE
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter-aip.json
  src/functionalTest/resources/scenarios/RIA-8721-update-tribunal-decision-cover-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DecisionAndReasons.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/UpdateTribunalRules.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalAipDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelper.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DecisionAndReasonsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/UpdateTribunalDecisionCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalAipDecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/helper/UpdatedTribunalDecisionAndReasonsCoverLetterTemplateHelperTest.java
Labels: DO_NOT_MERGE, ns:ia, prd:ia, add-or-update, rel:ia-case-documents-api-pr-808, aat/add-or-update

#893 RIA-8935 Fix issue in Exception management
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/controllers/advice/CallbackControllerAdvice.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-893

#894 RIA-8913 Updates to enable bail HO events for HO POU users
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-894

#895 RIA-8663 REMITTED functional test disabled -> Master:
  src/functionalTest/resources/scenarios/RIA-8256-ftpa-reheard-decisions-and-reasons-complex-collection.json
  src/functionalTest/resources/scenarios/RIA-8772-reheard-listing-hearing-noticed-remitted.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-895

#897 RIA-0000 to rebase snl branch with remitted changes on master
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-897

#900 DIAC-401 Update chart version
  charts/ia-case-documents-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-900

#899 RIA-8856 appeals notice of hearing displays the correct location information 2
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapper.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/HearingNoticeFieldMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/CmaAppointmentNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/HearingNoticeUpdatedTemplateProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-899
