Repository hmcts/ia-case-documents-api, pull requests merged in 2024-04, with the labels that each got.

#862 RIA-8774 Add logging
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iacasedocumentsapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-862

#871 RIA-8888 update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, aat/add-or-update, rel:ia-case-documents-api-pr-871

#870 RIA-TASK - Fix failed functional tests
  src/functionalTest/resources/scenarios/RIA-7212-internal-ada-send-decision-and-reasons-allowed-document.json
  src/functionalTest/resources/scenarios/RIA-7213-internal-ada-send-decision-and-reasons-dismissed-document.json
  src/functionalTest/resources/scenarios/RIA-7215-internal-detained-non-ada-send-decision-and-reasons-allowed-document.json
  src/functionalTest/resources/scenarios/RIA-7216-internal-detained-non-ada-send-decision-and-reasons-dismissed-document.json
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-870

#806 DIAC-123 cdam download change fix
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileService.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SendDecisionAndReasonsRenameFileServiceTest.java
Labels: ns:ia, prd:ia, add-or-update, enable_keep_helm, rel:ia-case-documents-api-pr-806

#877 RIA-8291 Added new bundle config for Remitted case
  src/functionalTest/resources/scenarios/RIA-8291-generate-hearing-bundle-remitted.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/RemittalDocument.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AdvancedBundlingCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, rel:ia-case-documents-api-pr-877

#879 RIA-8852 To provide permission for async stitching event for admin and judge user types
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-879

#880 RIA-8802 bails notice of hearing displays the correct location information
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingInitialListingTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingRelistingTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-880

#883 RIA-TASK - Fixed nightly test configuration
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-883

#884 RIA-000 Update to fix the perm issue for system user
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-884

#887 RIA-TASK - Update permissions for event
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-887

#888 RIA-TASK - Update permissions for event
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-888
