Repository hmcts/ia-case-documents-api, pull requests merged in 2024-10, with the labels that each got.

#896 DIAC-429 updating signed decision notice document name for multiple
  .github/workflows/pr-title-validation.yml
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PreviousDecisionDetails.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionPdfService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingConditionalBailRelistingTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/BailDocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/field/PreviousDecisionDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/BailNoticeOfHearingCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/bail/BailNoticeOfHearingConditionalBailRelistingTemplateTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-case-documents-api-pr-896

#939 DIAC-546 converting notification body's to pdf
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/StoredNotification.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/SaveNotificationsToDataHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentToPdfConverter.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SaveNotificationsToDataPdfService.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/bail/UploadSignedDecisionPdfService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/StoredNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/SaveNotificationsToDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/bail/UploadSignedDecisionPdfServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/DocumentToPdfConverterTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/SaveNotificationsToDataPdfServiceTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-documents-api-pr-939

#960 RIA-TASK Fix sonnar issues
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppealSubmissionDocFieldMapper.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-960

#961 RIA-TASK Fix Sonar scan issue out of country circumstances field
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppealSubmissionDocFieldMapper.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-961
