Repository hmcts/ia-case-documents-api, pull requests merged in 2024-07, with the labels that each got.

#920 RIA-8331 hearing_center_name
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeLetterTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-920

#922 RIA-8331 attachment_removal
  src/functionalTest/resources/scenarios/RIA-2970-hearing-adjourned-notice-document-iac.json
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter-oot.json
  src/functionalTest/resources/scenarios/RIA-8331-internal-non-detained-case-adjourned-without-date-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalCaseAdjournedWithoutTimeLetterTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-922

#923 RIA-8329 Create the notification letter bundle when the 'Edit Case Li…
  src/functionalTest/resources/scenarios/RIA-8329-internal-non-detained-edit-case-listing-letter.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/HearingNoticeEditedCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditCaseListingLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditCaseListingLetterWithAttachmentBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrder.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEditCaseListingLetterTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditCaseListingLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/letter/InternalEditCaseListingLetterWithAttachmentBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/BundleOrderTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/letter/InternalEditCaseListingLetterTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-923

#924 RIA-9207 Update AppealSubmission with out of country circumstances
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryCircumstances.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/entities/AsylumCaseDefinition.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplate.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/OutOfCountryCircumstancesTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/AppealSubmissionTemplateTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-924

#926 RIA-9130 Make Update Tribunal decision event available to LO
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-926

#928 RIA-9207 Internal OOC circumstances none appeal summary document
  src/functionalTest/resources/scenarios/RIA-9207-internal-ooc-circumstance-none-appeal-submission-document.json
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreator.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalOocAppealSubmissionTemplate.java
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/config/DocumentCreatorConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/handlers/presubmit/AppealSubmissionCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/templates/InternalOocAppealSubmissionTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/infrastructure/AsylumPreSubmitCallbackDispatcherTest.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-928
