Repository hmcts/ia-case-documents-api, pull requests merged in 2025-05, with the labels that each got.

#986 DIAC-688 pipeline fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-986

#985 DIAC-1029 Appeal Submission Summary Template ICC
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppealSubmissionDocFieldMapper.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-case-documents-api-pr-985

#989 DIAC-1029 Add unit tests for AppealSubmissionDocFieldMapper
  .gitignore
  src/test/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppealSubmissionDocFieldMapperTest.java
Labels: ns:ia, prd:ia, aat/add-or-update, prod/add-or-update, rel:ia-case-documents-api-pr-989

#991 DIAC-1028 Feature detained appeals added log
  src/main/java/uk/gov/hmcts/reform/iacasedocumentsapi/domain/service/AppealSubmissionDocFieldMapper.java
Labels: ns:ia, prd:ia, rel:ia-case-documents-api-pr-991
